body{ 
  background-repeat: no-repeat;
  background-size: cover; 
}

*{
  font-family: cursive;
  font-size: 30px; 
}
img{
  width: 300px;
  height: auto; /* This maintains aspect ratio */
}
*{
  box-sizing: border-box;
}
.column{
  float: left;
  width: 33.33%;
  padding: 5px;
}
.row::after{
  content: "";
  clear: both;
  display: table;
}

.row{
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.9;
}

